*{
    text-align: center;
}
    
<html>{
    <background-color>: #B3A194;   
}

body{
    width: 640px;
    margin: auto;
}
h1{
    font-size: 48px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}